<form [formGroup]="invoiceForm" class="ml-4 mr-4" style="padding-top: 3rem">
  <div class="row">
    <div class="col-md-6 pr-md-4">
      <div class="row">
        <div class="col">
          <h6 class="form-heading mt-4 mb-3">Allgemeine Daten</h6>
        </div>
      </div>
      <div class="form-group row">
        <label for="cId" class="col-4 col-form-label">Kundennr.</label>
        <input id="cId" type="number" class="col-8 form-control form-control-sm" formControlName="customerId">
      </div>
      <div class="form-group row">
        <label for="cName" class="col-4 col-form-label">Name</label>
        <input id="cName" type="text" class="col-8 form-control form-control-sm" formControlName="customerName">
      </div>
      <div class="form-group row">
        <label for="contact" class="col-4 col-form-label">Ansprechpartner</label>
        <input id="contact" type="text" class="col-8 form-control form-control-sm" formControlName="customerContactPerson">
      </div>
      <div class="form-group row">
        <label for="cAddress" class="col-4 col-form-label">Anschrift</label>
        <input id="cAddress" type="text" class="col-8 form-control form-control-sm" formControlName="customerAddress">
      </div>
      <div class="form-group row">
        <label for="cZip" class="col-4 col-form-label">PLZ</label>
        <input id="cZip" type="text" class="col-8 form-control form-control-sm" formControlName="customerZip">
      </div>
      <div class="form-group row">
        <label for="cCity" class="col-4 col-form-label">Ort</label>
        <input id="cCity" type="text" class="col-8 form-control form-control-sm" formControlName="customerCity">
      </div>
    </div>
    <div class="col-md-6 pl-md-4">
      <div class="row">
        <div class="col">
          <h6 class="form-heading mt-4 mb-3">Zahlungsinformationen</h6>
        </div>
      </div>
      <div class="form-group row">
        <label for="iban" class="col-4 col-form-label">IBAN</label>
        <input id="iban" type="text" class="col-8 form-control form-control-sm" formControlName="iban">
      </div>
      <div class="form-group row">
        <label for="bic" class="col-4 col-form-label">BIC</label>
        <input id="bic" type="text" class="col-8 form-control form-control-sm" formControlName="bic">
      </div>
      <div class="form-group row">
        <label for="accOwner" class="col-4 col-form-label">Kontoinhaber</label>
        <input id="accOwner" type="text" class="col-8 form-control form-control-sm" formControlName="accountOwner">
      </div>
      <div class="form-group row">
        <label for="mandateRef" class="col-4 col-form-label">Mandatsreferenz</label>
        <input id="mandateRef" type="text" class="col-8 form-control form-control-sm" formControlName="mandateReference">
      </div>
      <div class="form-group row">
        <label for="mandateCity" class="col-4 col-form-label">Mandat Ort</label>
        <input id="mandateCity" type="text" class="col-8 form-control form-control-sm" formControlName="mandateCity">
      </div>
      <div class="form-group row">
        <label for="mandateDate" class="col-4 col-form-label">Mandat Datum</label>
        <input id="mandateDate" type="date" class="col-8 form-control form-control-sm" formControlName="mandateDate">
      </div>
      <div class="form-group row">
        <label for="signee" class="col-4 col-form-label">Mandat Person</label>
        <input id="signee" type="text" class="col-8 form-control form-control-sm" formControlName="mandateSignee">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <h6 class="form-heading mt-4 mb-3">Rechnungsdaten</h6>
        </div>
      </div>
      <div class="row">
        <div class="col pr-md-4">
          <div class="form-group row">
            <label for="invId" class="col-4 col-form-label">Rechnungsnr.</label>
            <input id="invId" type="text" class="col-8 form-control form-control-sm" formControlName="invoiceNumber">
          </div>
          <div class="form-group row">
            <label for="invPeriod" class="col-4 col-form-label">Zeitraum</label>
            <input id="invPeriod" type="text" class="col-8 form-control form-control-sm" formControlName="invoicePeriod">
          </div>
        </div>
        <div class="col pl-md-4">
          <div class="form-group row">
            <label for="invDate" class="col-4 col-form-label">Rechnungsdatum</label>
            <input id="invDate" type="date" class="col-8 form-control form-control-sm" formControlName="invoiceDate">
          </div>
          <div class="form-group row">
            <label for="invDueDate" class="col-4 col-form-label">Fälligkeitsdatum</label>
            <input id="invDueDate" type="date" class="col-8 form-control form-control-sm" formControlName="invoiceDueDate">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col pr-0" formArrayName="lineItems">
      <div class="row">
        <div class="col">
          <h6 class="form-heading mt-4 mb-3">Rechnungsposten</h6>
        </div>
      </div>
      <table class="table table-borderless w-100 text-black-50" *ngIf="invoiceForm.value.lineItems.length">
        <thead>
        <tr>
          <th>Pos</th>
          <th class="w-15">Name</th>
          <th class="w-50">Beschreibung</th>
          <th>Anzahl</th>
          <th>Einzelpreis</th>
          <th></th>
          <th class="text-center">Summe</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ctrl of invoiceForm.value.lineItems; let i = index; trackBy: lineItemTracker"
            [formGroupName]="i" class="bg-white mb-2">
          <td class="text-right" style="font-size: medium">{{i}}</td>
          <td><input type="text" class="form-control form-control-sm" formControlName="name"></td>
          <td>
            <textarea [rows]="getRows(i)" class="form-control form-control-sm" formControlName="description"></textarea>
          </td>
          <td><input type="number" step="1" min="0" class="form-control form-control-sm"
                     formControlName="quantity"></td>
          <td class="pr-1">
            <input type="number" min="0" step="0.01" class="form-control form-control-sm" formControlName="priceEur">
          </td>
          <td class="text-left pl-0 pt-3">€</td>
          <td class="text-right pt-3">{{ itemTotal(i) | currency:'EUR':'symbol':'1.2-2':'de-DE' }}</td>
          <td class="pt-3" style="color: #B4BDC5">
            <i class="far fa-trash-alt fa-lg" style="cursor: pointer" (click)="onDeleteLineItem(i)"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <i class="material-icons primary md-36" style="cursor: pointer" (click)="onAddLineItem()">add_circle</i>
    </div>
    <div class="flex-column d-inline-flex justify-content-end pr-5"
         *ngIf="invoiceForm.value.lineItems.length">
      <div class="row">
        <div class="col mr-1" style="color: black">Netto</div>
        <div class="col text-right" style="color: black">
          {{ totalEur() | currency:'EUR':'symbol':'1.2-2':'de-DE' }}
        </div>
      </div>
      <div class="row">
        <div class="col-auto">Um.-St. (19%)</div>
        <div class="col text-right">
          {{ totalEur()*0.19 | currency:'EUR':'symbol':'1.2-2':'de-DE' }}
        </div>
      </div>
      <div class="row">
        <div class="col">Brutto</div>
        <div class="col text-right">
          {{ totalEur()*1.19 | currency:'EUR':'symbol':'1.2-2':'de-DE' }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mb-2">
        <span class="form-text-light" style="cursor: pointer"
              (click)="onDeleteInvoice()">Diese Rechnung entfernen</span>
    </div>
  </div>
</form>

