form {
  font-size: x-small;
  color: rgba(0, 0, 0, 0.5);
}

th {
  font-weight: normal;
  padding-bottom: 0;
  padding-top: 0;
}

tr {
  border-bottom: 10px solid #f8f9fa;
}

.form-heading {
  font-size: small;
  text-transform: uppercase;
  vertical-align: central;
}

.form-control {
  font-size: x-small;
}

.w-15 { width: 15% }
