<div class="row">
  <div class="col">
    <h6 class="sidebar-heading text-black-50 d-flex align-items-center mt-4">
      Rechnungen
      <i class="material-icons primary pl-2" style="cursor: pointer" routerLink="edit/new">add_circle</i>
    </h6>
  </div>
</div>
<div class="row border-bottom">
  <div class="col">
    <ul class="nav list-group">
      <li *ngFor="let invoice of invoices; let i = index">
        <div class="row pt-3 pb-3" routerLink="edit/{{i}}" routerLinkActive="bg-light">
          <span class="col-sm-9" style="cursor: pointer">{{ invoice.customerName }}</span>
          <span class="d-inline-flex col-sm-2 justify-content-end text-black-50">
            {{ invoice.totalEur() | currency:'EUR':'symbol':'1.2-2':'de-DE' }}
          </span>
          <span class="col-xs-1">
             <i class="material-icons small light-grey">chevron_right</i>
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row pb-5">
  <div class="col">
    <ul class="nav list-group">
      <li>
        <div class="row mt-2 mb-2">
          <span class="col-sm-9">Netto</span>
          <span class="d-inline-flex col-sm-2 justify-content-end text-black-50">
            {{ getNetTotal() | currency:'EUR':'symbol':'1.2-2':'de-DE' }}
          </span>
        </div>
      </li>
      <li>
        <div class="row mt-2 mb-2">
          <span class="col-sm-9">Um-St. (19%)</span>
          <span class="d-inline-flex col-sm-2 justify-content-end text-black-50">
            {{ getNetTotal() * 0.19 | currency:'EUR':'symbol':'1.2-2':'de-DE' }}
          </span>
        </div>
      </li>
      <li>
        <div class="row mt-2 mb-2">
          <span class="col-sm-9">Brutto</span>
          <span class="d-inline-flex col-sm-2 justify-content-end text-black-50">
            {{ getNetTotal() * 1.19 | currency:'EUR':'symbol':'1.2-2':'de-DE' }}
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
